p {
    background-color: lightblue;
}
#myHeader {
    text-decoration: underline;
}
.italics {
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 30px;
}
[title] {
    opacity: 50%;
}
div > span{
    color: red;
}